# Basic Site Settings
locale                  : "en-US"
site_theme               : "default"
title                    : "Kouyakou-Abalo SIMSOBA"
title_separator          : "-"
name                     : &name "Kouyakou-Abalo SIMSOBA"
description              : &description "Google DeepMind Scholar | Artificial Intelligence for Science"
url                      : "https://Abalo39.github.io" 
baseurl                  : "" 
repository               : "Abalo39/Abalo39.github.io"

# Site Author
author:
  avatar           : "profile.png"
  name             : "Kouyakou-Abalo SIMSOBA"
  pronouns         : "" # Removed per request
  bio              : "Google DeepMind Scholar at AIMS South Africa. Researcher in Robust ML, Time Series Forecasting, and NLP."
  location         : "Cape Town, South Africa"
  employer         : "African Institute for Mathematical Sciences (AIMS)"
  email            : "kouyakou@aims.ac.za" 

  # Academic & Professional Links
  googlescholar     : "https://scholar.google.com/citations?hl=en&user=RtYAMMoAAAAJ"
  orcid             : "https://orcid.org/0009-0005-4050-5040"
  github            : "Abalo39"
  linkedin          : "https://www.linkedin.com/in/abalo-simsoba-803a75244/" 

# Publication Category Labels
publication_category:
  manuscripts:
    title: 'Journal Articles'    
  conferences:
    title: 'Conference Papers'

# Collections Configuration
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Reading Files & Exclusions
include:
  - .htaccess
  - _pages
  - files
exclude:
  - node_modules
  - Gemfile
  - package.json
  - README
  - vendor
keep_files:
  - .git

# Defaults for Profiles and Layouts
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji
